<div class="lead-details container-sm mt-3">
  <div class="card shadow-sm">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <app-contact-avatar [name]="lead.contact.fullName"></app-contact-avatar>
        <div>
          <span class="fw-bold">{{ lead.contact.fullName }}</span>
        </div>
        <div>
          <span class="text-secondary">{{ lead.created | date: 'longDate' }} @ {{ lead.created | date: 'shortTime' }}</span>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-xxl-2 col-sm-3">
            <span><i class="bi bi-geo-alt"></i> {{ lead.suburb }}</span>
          </div>
          <div class="col-xxl-2 col-sm-3">
            <span><i class="bi bi-briefcase"></i> {{ lead.category }}</span>
          </div>
          <div class="col-xxl-2 col-sm-3">
            <span>Job ID: {{ lead.id }}</span>
          </div>
          <div class="col-xxl-2 col-sm-3">
            <span>{{ lead.price | currency: 'USD' }} Lead Inviation</span>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <i class="bi bi-telephone"></i>
            <span class="fw-bold text-warning">
              {{ lead.contact.phoneNumber }}
            </span>
          </div>
          <div class="col">
            <i class="bi bi-envelope"></i>
            <span class="fw-bold text-warning">
              {{ lead.contact.email }}
            </span>
          </div>
        </div>
        <div class="row">
          <span class="fw-light">{{ lead.description }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
